@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

@font-face {
  font-family: 'Supercell';
  src: url('fonts/SupercellMagic.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: url('made.png') no-repeat center top;
  background-size: cover;
  color: #fff;
  text-transform: uppercase;
}

header {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px 20px 10px 20px;
  text-align: center;
  color: #ffd700;
}

.clash-title {
  font-family: 'Supercell', 'Bangers', cursive;
  font-size:100px;
  color: #9c814d;
  text-shadow: 2px 2px 0 #1b130a, 4px 4px 0 #000;
  text-align: center;
  margin: 20px 0;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}


.clash-title:hover {
  color: #ffe066;
  text-shadow: 0 0 10px #ffd700, 0 0 20px #ffd700;
}

.logo-container {
  margin-top: 10px;
}

.logo-container h2 {
  color: #ffffff;
  font-size: 1.2em;
  margin: 5px 0;
}

.clash-logo {
  width: 300px;
  height: auto;
}


.ranking-section {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 20px;
  border-radius: 20px;
}

h2 {
  color: #ffffff;
  margin-bottom: 10px;
  text-align: center;
  transition: color 0.3s, text-shadow 0.3s;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.1);
}

th, td {
  border: 1px solid #fff;
  padding: 10px;
  text-align: center;
  color: #fff;
  transition: color 0.3s, text-shadow 0.3s;
}

th:hover, td:hover {
  color: #fff8dc;
  text-shadow: 0 0 5px #ffd700, 0 0 10px #ffd700;
}

th {
  background-color: #ff8c00;
  color: #000;
  font-weight: bold;
}
@media (max-width: 768px) {
  .clash-title {
    font-size: 2.5em;
  }

  .clash-logo {
    width: 120px;
  }

  header {
    padding: 20px 10px 5px 10px;
  }

  table th, table td {
    font-size: 0.75em;
    padding: 6px;
  }

  .ranking-section {
    margin: 10px;
    padding: 10px;
  }

  .logo-container h2 {
    font-size: 1em;
  }
}
